<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://scontent.fmad7-1.fna.fbcdn.net/v/t39.30808-6/271444123_100632985849716_9002266209643676868_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=g2H19EFS8qIAX-Lq1Gp&_nc_ht=scontent.fmad7-1.fna&oh=00_AfB6bgBKkZ297OrJ8_XNsH366Oq-YRZLsKaLmyqJuO3CKA&oe=63C9E67A">

    <title>Album de AsgardBox</title>

    <!-- Bootstrap core CSS <link href="../dist/css/bootstrap.min.css" rel="stylesheet"> -->
    

    <!-- Custom styles for this template -->
    <link href="app.component.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter</a></li>
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>Álbum de Asgardbox</strong>
          </a>
        </div>
      </div>
    </header>
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <br>
          <h1 class="jumbotron-heading">Nuestro catálogo</h1>
          <p class="lead text-muted">Aquí podéis encontrar un álbum de todo nuestro merchandising. Para encargar ropa, ¡lo podéis hacer a través de nuestro Instagram o Facebook!</p>
          <p>
            <a href="https://www.instagram.com/asgard__box/" class="btn btn-primary my-2" target="_blank">Háblanos por Instagram</a>
            <a href="https://www.facebook.com/profile.php?id=100077090431956" class="btn btn-secondary my-2" target="_blank">Háblanos por Facebook</a>
          </p>
          <br>
        </div>
      </section>
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./assets/Pics/Item02.jpeg" alt="Card image cap test">
                <div class="card-body">
                  <p class="card-text">Chambergo negro logo AsgardBox.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="fw-lighter">20€</p>
                    </div>
                    <small class="text-muted">Viernes, 20 de enero de 2023.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./assets/Pics/Item01.jfif" alt="Card image cap test">
                <div class="card-body">
                  <p class="card-text">Personalización de barra olímpica.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="fw-lighter">30€</p>
                    </div>
                    <small class="text-muted">Viernes, 20 de enero de 2023.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./assets/Pics/Item03.jpeg" alt="Card image cap test">
                <div class="card-body">
                  <p class="card-text">Llaveros logo AsgardBox.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="fw-lighter">4€</p>
                    </div>
                    <small class="text-muted">Viernes, 20 de enero de 2023.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./assets/Pics/Item04.jpeg" alt="Card image cap test">
                <div class="card-body">
                  <p class="card-text">Parche "A dar por culo a tu casa" de velcro AsgardBox.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="fw-lighter">5€</p>
                    </div>
                    <small class="text-muted">Viernes, 20 de enero de 2023.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./assets/Pics/Item05.jpeg" alt="Card image cap test">
                <div class="card-body">
                  <p class="card-text">Taza personalizada AsgardBox.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="fw-lighter">12€</p>
                    </div>
                    <small class="text-muted">Viernes, 20 de enero de 2023.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./assets/Pics/Item06.jpeg" alt="Card image cap test">
                <div class="card-body">
                  <p class="card-text">Mochila open 2023 AsgardBox.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="fw-lighter">12€</p>
                    </div>
                    <small class="text-muted">Viernes, 20 de enero de 2023.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./assets/Pics/Item07-1.jpeg" alt="Card image cap test">
                <div class="card-body">
                  <p class="card-text">Sudadera negra con mangas grises AsgardBox.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="fw-lighter">35€</p>
                    </div>
                    <small class="text-muted">Viernes, 20 de enero de 2023.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./assets/Pics/Item08-1.jpeg" alt="Card image cap test">
                <div class="card-body">
                  <p class="card-text">Sudadera entera serigrafiada AsgardBox.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="fw-lighter">30€</p>
                    </div>
                    <small class="text-muted">Viernes, 20 de enero de 2023.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./assets/Pics/Item09.jpeg" alt="Card image cap test">
                <div class="card-body">
                  <p class="card-text">Chaqueta invierno AsgardBox.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="fw-lighter">38€</p>
                    </div>
                    <small class="text-muted">Viernes, 20 de enero de 2023.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./assets/Pics/Item10.jpeg" alt="Card image cap test">
                <div class="card-body">
                  <p class="card-text">Camiseta tirantes negra de mujer AsgardBox.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="fw-lighter">18€</p>
                    </div>
                    <small class="text-muted">Viernes, 20 de enero de 2023.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./assets/Pics/Item11-4.jpeg" alt="Card image cap test">
                <div class="card-body">
                  <p class="card-text">Chaqueta universidad AsgardBox.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="fw-lighter">45€</p>
                    </div>
                    <small class="text-muted">Viernes, 20 de enero de 2023.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./assets/Pics/Item15-2.jpeg" alt="Card image cap test">
                <div class="card-body">
                  <p class="card-text">Camiseta Open 2023 AsgardBox.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="fw-lighter">12€</p>
                    </div>
                    <small class="text-muted">Viernes, 20 de enero de 2023.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./assets/Pics/Item16-1.jpeg" alt="Card image cap test">
                <div class="card-body">
                  <p class="card-text">Camiseta Asgard-system borgoña AsgardBox.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="fw-lighter">15€</p>
                    </div>
                    <small class="text-muted">Viernes, 20 de enero de 2023.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./assets/Pics/Item17-1.jpeg" alt="Card image cap test">
                <div class="card-body">
                  <p class="card-text">Top personalizado AsgardBox.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="fw-lighter">15€</p>
                    </div>
                    <small class="text-muted">Viernes, 20 de enero de 2023.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./assets/Pics/Item17-2.jpeg" alt="Card image cap test">
                <div class="card-body">
                  <p class="card-text">Camiseta mujer atleta AsgardBox.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="fw-lighter">25€</p>
                    </div>
                    <small class="text-muted">Viernes, 20 de enero de 2023.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./assets/Pics/Item17-3.jpeg" alt="Card image cap test">
                <div class="card-body">
                  <p class="card-text">Camiseta hombre atleta AsgardBox.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="fw-lighter">25€</p>
                    </div>
                    <small class="text-muted">Viernes, 20 de enero de 2023.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./assets/Pics/Item18.jpeg" alt="Card image cap test">
                <div class="card-body">
                  <p class="card-text">Camiseta "burpees o plomo" AsgardBox.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="fw-lighter">15€</p>
                    </div>
                    <small class="text-muted">Viernes, 20 de enero de 2023.</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./assets/Pics/Item19.jpeg" alt="Card image cap test">
                <div class="card-body">
                  <p class="card-text">Camiseta "stronguer things" AsgardBox.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <p class="fw-lighter">15€</p>
                    </div>
                    <small class="text-muted">Viernes, 20 de enero de 2023.</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Volver al inicio</a>
        </p>
        <p>Esta página web pertence implícitamente a  &copy; AsgardBox, contáctanos para cualquier duda.</p>
        <p>¿Interesado en entrenar con nosotros? ¡Ven a vernos! Nos encontramos en <a href="https://www.google.es/maps/place/Pl.+la+Central,+4,+33949+San+Mart%C3%ADn+del+Rey+Aurelio,+Asturias/@43.2859067,-5.627777,17z/data=!3m1!4b1!4m5!3m4!1s0xd365c14d0d4b7a3:0xaa8666aef58cd1f0!8m2!3d43.2859028!4d-5.6255883" target="_blank">en el Pl. la Central, 3, 33949 San Martín del Rey Aurelio, Asturias</a>.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../assets/js/vendor/popper.min.js"></script>
    <script src="../dist/js/bootstrap.min.js"></script>
    <script src="../assets/js/vendor/holder.min.js"></script>
  </body>
</html>
